**/*.csv
**/*.json
**/*.log
**/mlruns
**/.neptune
**/test_trainer
**/*.pth
**/*.pt
**/*.bin
**/*.txt
**/*.zip
**/*.pyc
logs/**/*

!data/meta.txt
!external/*.json
!external/*.csv
!external/meta.txt
!external/k7/k7*.json
!logs/dataset-metadata.json
!logs/dataset-metadata-*.json
!resources/**/*